/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Sep 21, 2019, 12:08:35 PM
    Author     : sanel
*/
// Base

.header {
    .backPart {
        
        position: absolute;
        float: left;
        width: 100%;
        z-index: -1;
        
        .topTrack {
            border-top: solid 3px red;
            background-color: #003366;
            height: 50px;
        }
        .bottomTrack {
            background-color: #ffffff;
            height: 50px;
        }        
    }
    .centralPart {
        display: grid;
        justify-content: center; 
        grid-template-columns: 100px minmax(250px, 1300px); 
        .logotip {
            div {
                padding: 4px;
                background-color: white;
                margin-top: 10px;
            }
        }
        .rightSide {
            .topTrack {
                display: grid;
                justify-content: space-between;
                grid-template-columns: minmax(450px, 1000px) 280px;
                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    height: 50px;
                    float: left;
                    padding-top: 3px;    
                    margin-left: 15px;
                    li {
                        position: relative;
                        float: left;
                        height: 50px;
                        align-content: center;
                        display: grid;
                        a {
                            transition: background .2s linear;
                            border-radius: 3px;
                            font-size: 14px;
                            padding: 6px 10px;
                            color: white;
                            font-weight: 600;
                            cursor: pointer;
                        }
                        a:hover {
                            color: #edf6ff;
                            background-color: #40668c;                            
                        }
                    }
                }
                .loginPart {
                    display: grid;
                    grid-template-columns: 1fr 2fr 2fr;
                    grid-gap: 10px;
                    justify-items: end;
                    svg {
                        margin-top: 12px;
                    }
                    .button {
                        padding-top: 5px;
                        padding-bottom: 5px;
                        padding-left: 10px;
                        padding-right: 10px;
                        margin-top: 14px;
                        border-radius: 6px;
                        font-size: 17px;
                        font-weight: 600;
                        cursor: pointer;
                        margin-bottom: 10px;
                        text-align: center;
                        span {
                            color: white;
                            
                        }
                    }
                    .loginButton {
                        background-color: #1b4e81;
                    }
                    .watchTV {
                        background-color: #d20f26;
                    }                    
                }
            }
            .bottomTrack {
                display: grid;
                grid-template-columns: auto auto;
                .leftPart, .rightPart {
                    a {
                        color: #036;
                        cursor: pointer;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        padding-left: 5px;
                        padding-right: 5px;
                        float: left;    
                        font-weight: 600;
                    }   
                    a:hover {
                        color: #5787b8;
                    }
                    display: grid;
                    justify-content: end;
                    grid-template-columns: auto auto auto;                    
                    span {
                        color: red;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 3px;
                    }                    
                   ul {
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        float: left;
                        font-size: 14px;
                        li {
                            float: left;
                            position: relative;
                        }
                        li::before {
                            content: "";
                            display: block;
                            position: absolute;
                            background-color: #a7c6e5;
                            top: 7px;
                            left: -2px;
                            height: 10px;
                            width: 2px;                        
                        }
                    }                  
                }
                .leftPart {
                    align-self: start;
                    justify-content: start;
                }
                .rightPart {
                    justify-content: end;
                    align-self: end;

                }
            }            
        }
    }
}
